In [1]:
import pandas as pd
import time
import datetime

In [3]:
df = pd.read_csv('/home/gene/ml-20m/ratings.csv')

In [4]:
df.head(5)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [29]:
df['date'] = df['timestamp'].apply(lambda x :time.strftime('%Y-%m-%d',time.localtime(x)))

In [38]:
df[df['date'] >= '2013-01-01']

          userId  movieId  rating   timestamp        date
3534          31        1     3.0  1424733487  2015-02-24
3535          31      110     5.0  1424733473  2015-02-24
3536          31      260     5.0  1424733433  2015-02-24
3537          31      364     3.0  1424844807  2015-02-25
3538          31      527     0.5  1424733598  2015-02-24
3539          31      588     3.0  1424842869  2015-02-25
3540          31      594     2.5  1424844811  2015-02-25
3541          31      616     4.0  1424844817  2015-02-25
3542          31     1196     5.0  1424733435  2015-02-24
3543          31     1197     3.0  1424734492  2015-02-24
3544          31     1207     0.5  1424734478  2015-02-24
3545          31     1210     5.0  1424733439  2015-02-24
3546          31     1214     0.5  1424733574  2015-02-24
3547          31     1270     4.0  1424733467  2015-02-24
3548          31     2096     2.0  1424844830  2015-02-25
3549          31     2571     4.5  1424736532  2015-02-24
3550          31     2959     2.0  1424734458  2015-02-24
3551          31     3300     5.0  1424733940  2015-02-24
3552          31     3483     4.0  1424735625  2015-02-24
3553          31     3555     3.0  1424734355  2015-02-24
3554          31     3615     3.0  1424734207  2015-02-24
3555          31     3624     3.0  1424733917  2015-02-24
3556          31     3671     5.0  1424733819  2015-02-24
3557          31     3751     4.0  1424736599  2015-02-24
3558          31     3793     4.5  1424734262  2015-02-24
3559          31     3916     4.5  1424734610  2015-02-24
3560          31     4016     4.0  1424733990  2015-02-24
3561          31     4022     2.0  1424734536  2015-02-24
3562          31     4232     4.0  1424734082  2015-02-24
3563          31     4299     3.0  1424733987  2015-02-24
...          ...      ...     ...         ...         ...
19996969  138468      260     4.0  1419255417  2014-12-22
19996970  138468      318     4.5  1419255515  2014-12-22
19996971  138468      527     4.5  1419255413  2014-12-22
19996972  138468      858     4.5  1419255520  2014-12-22
19996973  138468     1198     2.0  1419255397  2014-12-22
19996974  138468     1221     4.0  1419255527  2014-12-22
19996975  138468     2019     3.0  1419255526  2014-12-22
19996976  138468     2571     4.5  1419255411  2014-12-22
19996977  138468     2959     5.0  1419255550  2014-12-22
19996978  138468     4993     4.0  1419255402  2014-12-22
19996979  138468     5952     4.0  1419255410  2014-12-22
19996980  138468     6016     5.0  1419255543  2014-12-22
19996981  138468     7153     4.0  1419255401  2014-12-22
19996982  138468     7502     4.0  1419255523  2014-12-22
19996983  138468    58559     5.0  1419255556  2014-12-22
19996984  138468    60040     4.0  1419255325  2014-12-22
19996985  138468    61024     3.5  1419255330  2014-12-22
19996986  138468    61240     1.5  1419255307  2014-12-22
19996987  138468    67255     4.0  1419255314  2014-12-22
19996988  138468    68319     5.0  1419255311  2014-12-22
19996989  138468    72226     0.5  1419255321  2014-12-22
19996990  138468    74789     0.5  1419255309  2014-12-22
19996991  138468    79132     5.0  1419255415  2014-12-22
19996992  138468    88129     4.0  1419255318  2014-12-22
19996993  138468    94466     5.0  1419255559  2014-12-22
19996994  138468   109487     5.0  1419255337  2014-12-22
19996995  138468   111759     4.0  1419255347  2014-12-22
19996996  138468   112556     5.0  1419255339  2014-12-22
19996997  138468   118696     3.5  1419255383  2014-12-22
19996998  138468   119155     3.5  1419255382  2014-12-22

[1447172 rows x 5 columns]

In [40]:
df.head(5)

   userId  movieId  rating   timestamp        date
0       1        2     3.5  1112486027  2005-04-03
1       1       29     3.5  1112484676  2005-04-03
2       1       32     3.5  1112484819  2005-04-03
3       1       47     3.5  1112484727  2005-04-03
4       1       50     3.5  1112484580  2005-04-03

In [39]:
df_imdbid = pd.read_csv('/home/gene/ml-20m/links.csv')

In [46]:
df_imdbid.head(5)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [47]:
#pd.merge(left, right, on='key')
df_concat = pd.merge(df,df_imdbid,on='movieId')
df_concat

          userId  movieId  rating   timestamp        date   imdbId    tmdbId
0              1        2     3.5  1112486027  2005-04-03   113497    8844.0
1              5        2     3.0   851527569  1996-12-25   113497    8844.0
2             13        2     3.0   849082742  1996-11-27   113497    8844.0
3             29        2     3.0   835562174  1996-06-24   113497    8844.0
4             34        2     3.0   846509384  1996-10-28   113497    8844.0
5             54        2     3.0   974918176  2000-11-23   113497    8844.0
6             88        2     1.0  1098277938  2004-10-20   113497    8844.0
7             91        2     3.5  1112061358  2005-03-29   113497    8844.0
8            116        2     2.0  1132728068  2005-11-23   113497    8844.0
9            119        2     4.0   845110667  1996-10-12   113497    8844.0
10           120        2     1.0   838153425  1996-07-24   113497    8844.0
11           124        2     2.0  1134476330  2005-12-13   113497    8844.0
12           127        2     3.0   847127455  1996-11-05   113497    8844.0
13           128        2     3.0   900720958  1998-07-18   113497    8844.0
14           129        2     3.0  1283448701  2010-09-03   113497    8844.0
15           131        2     1.0  1238326861  2009-03-29   113497    8844.0
16           132        2     3.0  1114172997  2005-04-22   113497    8844.0
17           137        2     3.0   992797771  2001-06-18   113497    8844.0
18           142        2     4.0   833458658  1996-05-30   113497    8844.0
19           152        2     3.0  1161215251  2006-10-19   113497    8844.0
20           156        2     5.0  1040937649  2002-12-27   113497    8844.0
21           158        2     3.0   842734429  1996-09-15   113497    8844.0
22           164        2     3.0   845248397  1996-10-14   113497    8844.0
23           165        2     3.0   835483502  1996-06-23   113497    8844.0
24           170        2     3.0   940253294  1999-10-18   113497    8844.0
25           184        2     3.0   840016743  1996-08-14   113497    8844.0
26           220        2     3.0  1056172947  2003-06-21   113497    8844.0
27           232        2     3.5  1162148886  2006-10-30   113497    8844.0
28           235        2     3.0   939225131  1999-10-06   113497    8844.0
29           238        2     3.0  1111509612  2005-03-23   113497    8844.0
...          ...      ...     ...         ...         ...      ...       ...
20000233  136015    95578     4.0  1341625654  2012-07-07  1732676  200281.0
20000234  136015   107147     3.5  1386962880  2013-12-14  1810798   99880.0
20000235  136054   101820     3.0  1365472258  2013-04-09    60408   64875.0
20000236  136196   129313     4.0  1424987707  2015-02-27  2392672  179150.0
20000237  136268    65621     3.0  1232604498  2009-01-22   850307  170094.0
20000238  136268   114174     2.5  1411048756  2014-09-18  2278392  196325.0
20000239  136268   125656     3.0  1421693709  2015-01-20  3358552  242675.0
20000240  136571   126815     4.0  1422587314  2015-01-30  1159200   96306.0
20000241  136684   130522     3.5  1426970944  2015-03-22   147926   20377.0
20000242  137031   117442     3.5  1421807244  2015-01-21  1717715  119892.0
20000243  137031   121699     4.0  1421807493  2015-01-21  3742040  287299.0
20000244  137031   123188     2.5  1421883946  2015-01-22  2404583  258251.0
20000245  137277   110052     3.5  1395643640  2014-03-24    77373   31214.0
20000246  137717   120831     2.5  1420430755  2015-01-05  2948266  203534.0
20000247  137717   120833     3.0  1420602817  2015-01-07  1161064   20177.0
20000248  137717   120839     3.5  1420444839  2015-01-05  1900854  116723.0
20000249  137717   127445     4.0  1423802804  2015-02-13  1580427  295069.0
20000250  137893    65909     4.0  1233561753  2009-02-02   319821  214436.0
20000251  137893    71300     3.0  1305104853  2011-05-11    64073   46768.0
20000252  138301   103010     3.5  1416786218  2014-11-24  2112129  143567.0
20000253  138301   104307     4.0  1415227515  2014-11-06   105448   65958.0
20000254  138301   106170     4.0  1383873162  2013-11-08   110796   16242.0
20000255  138301   106401     3.0  1394152234  2014-03-07   347330   21776.0
20000256  138301   113539     4.0  1408674064  2014-08-22  1349457   85547.0
20000257  138301   118856     4.0  1418447976  2014-12-13  2122518  106685.0
20000258  138301   121017     3.5  1420558479  2015-01-06    56014   44522.0
20000259  138301   121019     4.5  1420558606  2015-01-06    57870   31270.0
20000260  138301   121021     4.5  1420558687  2015-01-06    54425   33336.0
20000261  138406   110167     4.5  1396184127  2014-03-30    73219   38080.0
20000262  138406   110510     4.5  1397597539  2014-04-16    79980   64349.0

[20000263 rows x 7 columns]

In [56]:
df_concat['imdbId_tt'] = 'tt' + df_concat['imdbId'].apply(lambda x :"{:0>7d}".format(x))

In [57]:
import copy
movie_filter = copy.deepcopy(df_concat)

In [63]:
import json
with open('/home/gene/ml-20m/id_list.json') as f:
    id_list = json.load(f)

In [65]:
id_list

['tt0107808',
 'tt0366721',
 'tt0368891',
 'tt4468634',
 'tt0105275',
 'tt0425413',
 'tt3062880',
 'tt0048806',
 'tt5186714',
 'tt2375605',
 'tt0156901',
 'tt1433810',
 'tt4621872',
 'tt1235841',
 'tt1591095',
 'tt0844708',
 'tt1285309',
 'tt3518012',
 'tt0310793',
 'tt0212712',
 'tt2891070',
 'tt0162222',
 'tt1189340',
 'tt1216492',
 'tt1311071',
 'tt0462338',
 'tt1243957',
 'tt0276501',
 'tt0338564',
 'tt1139328',
 'tt0400761',
 'tt1276104',
 'tt1408101',
 'tt5439796',
 'tt4139124',
 'tt1439572',
 'tt2112124',
 'tt0020629',
 'tt0286106',
 'tt0095250',
 'tt1972779',
 'tt2277860',
 'tt2334649',
 'tt0387564',
 'tt0077405',
 'tt1911553',
 'tt0787442',
 'tt0079522',
 'tt0367027',
 'tt0310910',
 'tt0042332',
 'tt2901736',
 'tt3395184',
 'tt3850496',
 'tt0235060',
 'tt0861689',
 'tt2989524',
 'tt0401792',
 'tt1712261',
 'tt0094226',
 'tt0499448',
 'tt1763303',
 'tt0842929',
 'tt0076843',
 'tt4967094',
 'tt1355630',
 'tt0449467',
 'tt0077631',
 'tt0412080',
 'tt2409302',
 'tt1489167',
 'tt0179098',
 'tt5074352',
 'tt2345561',
 'tt3787590',
 'tt0298203',
 'tt1650453',
 'tt0080678',
 'tt2872750',
 'tt0090329',
 'tt2396566',
 'tt0083336',
 'tt0286635',
 'tt1843287',
 'tt1417075',
 'tt2582496',
 'tt0103074',
 'tt0217869',
 'tt4857264',
 'tt0082495',
 'tt0088763',
 'tt0034583',
 'tt0478829',
 'tt0265459',
 'tt2209764',
 'tt0120587',
 'tt2258281',
 'tt0116191',
 'tt0491747',
 'tt0056869',
 'tt0090297',
 'tt0167190',
 'tt5700672',
 'tt1270798',
 'tt1703148',
 'tt0166924',
 'tt2908446',
 'tt3666024',
 'tt1932767',
 'tt2084970',
 'tt1465487',
 'tt0074777',
 'tt0829150',
 'tt3381008',
 'tt0864835',
 'tt1623205',
 'tt1291584',
 'tt0469623',
 'tt0295682',
 'tt2165735',
 'tt0772200',
 'tt1023114',
 'tt0093748',
 'tt0844286',
 'tt1495823',
 'tt0366551',
 'tt0433035',
 'tt0081698',
 'tt4361050',
 'tt3297330',
 'tt0374900',
 'tt0347246',
 'tt0113277',
 'tt0126604',
 'tt0369441',
 'tt0758784',
 'tt1700845',
 'tt0078966',
 'tt2891174',
 'tt2381249',
 'tt1178665',
 'tt0044706',
 'tt0443456',
 'tt1532503',
 'tt0079417',
 'tt1307068',
 'tt0251433',
 'tt0421054',
 'tt0287934',
 'tt0118956',
 'tt1951216',
 'tt1130884',
 'tt1124052',
 'tt0494238',
 'tt0093409',
 'tt0022958',
 'tt1924396',
 'tt0102713',
 'tt1124037',
 'tt0038650',
 'tt4501244',
 'tt4630550',
 'tt0490204',
 'tt1375670',
 'tt1022603',
 'tt0298130',
 'tt0449059',
 'tt1175709',
 'tt0159097',
 'tt0369053',
 'tt0090798',
 'tt0948470',
 'tt0186151',
 'tt0124718',
 'tt0150216',
 'tt0077362',
 'tt2103264',
 'tt0332280',
 'tt1230448',
 'tt1832382',
 'tt1055292',
 'tt1860213',
 'tt2176013',
 'tt1792647',
 'tt2718492',
 'tt2223990',
 'tt0098724',
 'tt3079380',
 'tt1840309',
 'tt0040876',
 'tt0424024',
 'tt3451230',
 'tt2359427',
 'tt1323594',
 'tt2952602',
 'tt3674140',
 'tt0091875',
 'tt0071360',
 'tt1790886',
 'tt2378507',
 'tt1925421',
 'tt0287467',
 'tt3715320',
 'tt4080728',
 'tt0452694',
 'tt2113822',
 'tt3707114',
 'tt2304771',
 'tt0209189',
 'tt1109624',
 'tt0415965',
 'tt0120915',
 'tt3450958',
 'tt1850457',
 'tt0119250',
 'tt1126590',
 'tt1201607',
 'tt1053424',
 'tt1161864',
 'tt1823672',
 'tt0338751',
 'tt1077262',
 'tt0377092',
 'tt3063516',
 'tt0070608',
 'tt0387514',
 'tt0081505',
 'tt0323298',
 'tt2333784',
 'tt1821641',
 'tt3850214',
 'tt1714210',
 'tt3062096',
 'tt0445336',
 'tt0974015',
 'tt1972571',
 'tt0337563',
 'tt2980648',
 'tt1053810',
 'tt3531824',
 'tt0346094',
 'tt0111257',
 'tt1457767',
 'tt1078588',
 'tt2392326',
 'tt2015381',
 'tt0104036',
 'tt1899353',
 'tt2091935',
 'tt4326444',
 'tt0116695',
 'tt1219827',
 'tt3402236',
 'tt2051879',
 'tt0402910',
 'tt0405094',
 'tt0109635',
 'tt0084445',
 'tt3125472',
 'tt2534634',
 'tt0880578',
 'tt0801526',
 'tt0078788',
 'tt0116259',
 'tt1220719',
 'tt3829920',
 'tt0963178',
 'tt0804522',
 'tt2366450',
 'tt0436697',
 'tt3714720',
 'tt0110882',
 'tt0432348',
 'tt1878870',
 'tt2402157',
 'tt2262227',
 'tt3044244',
 'tt0082334',
 'tt0825236',
 'tt2582782',
 'tt0368909',
 'tt3742378',
 'tt0316396',
 'tt0109830',
 'tt0374330',
 'tt3184934',
 'tt0276751',
 'tt0123948',
 'tt0133952',
 'tt0083190',
 'tt0976222',
 'tt0115685',
 'tt1563704',
 'tt3205376',
 'tt0408306',
 'tt3404140',
 'tt0185125',
 'tt2169322',
 'tt2053463',
 'tt2567712',
 'tt0332639',
 'tt0457419',
 'tt0257076',
 'tt2404217',
 'tt0055928',
 'tt0106332',
 'tt4914580',
 'tt0487419',
 'tt0083658',
 'tt0485947',
 'tt1212419',
 'tt0106233',
 'tt1217209',
 'tt0480269',
 'tt0308772',
 'tt0096895',
 'tt0382625',
 'tt2091256',
 'tt0480249',
 'tt0118845',
 'tt1745787',
 'tt4731136',
 'tt1473832',
 'tt0940723',
 'tt2554274',
 'tt1020072',
 'tt0268978',
 'tt1454468',
 'tt0185937',
 'tt1980929',
 'tt0090015',
 'tt2369135',
 'tt0479143',
 'tt0479044',
 'tt0477347',
 'tt0052618',
 'tt0119099',
 'tt4276752',
 'tt0093894',
 'tt1634122',
 'tt0117060',
 'tt1980209',
 'tt1343727',
 'tt0367110',
 'tt0460890',
 'tt1560747',
 'tt5226984',
 'tt0408790',
 'tt1972591',
 'tt1524137',
 'tt0116692',
 'tt0208092',
 'tt3469046',
 'tt0396555',
 'tt0068361',
 'tt1905041',
 'tt1069238',
 'tt1478338',
 'tt0073312',
 'tt0168740',
 'tt0379306',
 'tt0961108',
 'tt4082068',
 'tt1727388',
 'tt0365737',
 'tt0386741',
 'tt0452702',
 'tt5013056',
 'tt1850397',
 'tt1615147',
 'tt0111070',
 'tt0434409',
 'tt0879843',
 'tt2910274',
 'tt0337961',
 'tt0114095',
 'tt0405159',
 'tt1877832',
 'tt0289424',
 'tt0478087',
 'tt0870111',
 'tt0347149',
 'tt1470827',
 'tt0343737',
 'tt2406566',
 'tt0091584',
 'tt0443543',
 'tt1568346',
 'tt0870984',
 'tt1727776',
 'tt0404032',
 'tt1456660',
 'tt3230082',
 'tt0293508',
 'tt2113075',
 'tt0089881',
 'tt0058450',
 'tt0480242',
 'tt1216487',
 'tt0112864',
 'tt4645330',
 'tt0110074',
 'tt4359416',
 'tt0083907',
 'tt0983193',
 'tt0120804',
 'tt4263482',
 'tt0057129',
 'tt0086425',
 'tt0046303',
 'tt2872718',
 'tt1535108',
 'tt0441909',
 'tt0758766',
 'tt0088847',
 'tt0109445',
 'tt3197766',
 'tt0352248',
 'tt1393746',
 'tt1206488',
 'tt2547584',
 'tt1657507',
 'tt0200027',
 'tt2909116',
 'tt1104083',
 'tt0065234',
 'tt0354243',
 'tt1121786',
 'tt0060196',
 'tt1231583',
 'tt4846340',
 'tt1152836',
 'tt1379182',
 'tt1330607',
 'tt1911658',
 'tt2848292',
 'tt0760329',
 'tt1981107',
 'tt0082348',
 'tt0095690',
 'tt4786282',
 'tt0995039',
 'tt0346156',
 'tt0237534',
 'tt0970411',
 'tt3263904',
 'tt0095765',
 'tt5269396',
 'tt3182620',
 'tt1535438',
 'tt0382810',
 'tt2241351',
 'tt2950418',
 'tt1023481',
 'tt0468489',
 'tt1034331',
 'tt3874544',
 'tt0373926',
 'tt0120611',
 'tt1638002',
 'tt2187115',
 'tt0039725',
 'tt0119125',
 'tt1119646',
 'tt0435625',
 'tt1596350',
 'tt0097770',
 'tt2872462',
 'tt0264464',
 'tt0396171',
 'tt5225338',
 'tt1682186',
 'tt0092099',
 'tt0477302',
 'tt0808151',
 'tt2261287',
 'tt2106476',
 'tt0087553',
 'tt4701702',
 'tt5286444',
 'tt2126355',
 'tt2250912',
 'tt0256009',
 'tt0091670',
 'tt0497465',
 'tt0085794',
 'tt2823054',
 'tt1860353',
 'tt6265828',
 'tt0996605',
 'tt3501632',
 'tt0409459',
 'tt0949489',
 'tt0292963',
 'tt0389860',
 'tt0312841',
 'tt0398017',
 'tt0109348',
 'tt0111495',
 'tt3450900',
 'tt1032856',
 'tt0986263',
 'tt2707858',
 'tt0140888',
 'tt0254686',
 'tt0420223',
 'tt2121382',
 'tt2788710',
 'tt0408664',
 'tt0357413',
 'tt1872181',
 'tt0384504',
 'tt0481499',
 'tt0884732',
 'tt0418763',
 'tt0893402',
 'tt0088178',
 'tt0144117',
 'tt2304915',
 'tt0116209',
 'tt0815245',
 'tt0795421',
 'tt2024469',
 'tt0054047',
 'tt0456396',
 'tt1663202',
 'tt2209418',
 'tt2631186',
 'tt0088821',
 'tt1135989',
 'tt2034800',
 'tt0107426',
 'tt0415978',
 'tt0091053',
 'tt1228705',
 'tt0120001',
 'tt0980970',
 'tt0189744',
 'tt4120176',
 'tt0110877',
 'tt3704050',
 'tt0455957',
 'tt1345836',
 'tt0119528',
 'tt0301357',
 'tt1935156',
 'tt0430357',
 'tt2298384',
 'tt3756788',
 'tt1094241',
 'tt1433108',
 'tt0918940',
 'tt0119558',
 'tt0423294',
 'tt0491244',
 'tt2345737',
 'tt0041239',
 'tt0462322',
 'tt0795493',
 'tt0033563',
 'tt1462758',
 'tt4385888',
 'tt2719848',
 'tt0949564',
 'tt1839654',
 'tt1527788',
 'tt0292066',
 'tt1641638',
 'tt0031381',
 'tt5592248',
 'tt0360717',
 'tt1598778',
 'tt0381849',
 'tt0450340',
 'tt2124803',
 'tt3606888',
 'tt1067733',
 'tt0138524',
 'tt0052050',
 'tt0758774',
 'tt0046521',
 'tt0206314',
 'tt2870756',
 'tt0263101',
 'tt2870612',
 'tt0862846',
 'tt1285016',
 'tt2436386',
 'tt0970468',
 'tt0399146',
 'tt1135487',
 'tt0083511',
 'tt0112792',
 'tt0098356',
 'tt0305206',
 'tt3183660',
 'tt0196229',
 'tt0381061',
 'tt0765120',
 'tt0425326',
 'tt0016641',
 'tt0762073',
 'tt0095599',
 'tt1424381',
 'tt0472399',
 'tt2652092',
 'tt0069341',
 'tt0448694',
 'tt3631112',
 'tt0458352',
 'tt0067927',
 'tt1245526',
 'tt1440728',
 'tt2614684',
 'tt0385004',
 'tt1673697',
 'tt0105698',
 'tt0105824',
 'tt0082398',
 'tt2726560',
 'tt0368008',
 'tt2234155',
 'tt0844471',
 'tt1588895',
 'tt0139134',
 'tt0985699',
 'tt0462590',
 'tt0108052',
 'tt0431197',
 'tt1242545',
 'tt2884018',
 'tt4126304',
 'tt2675914',
 'tt0416449',
 'tt1462769',
 'tt3168230',
 'tt0842926',
 'tt2245003',
 'tt0338013',
 'tt1541995',
 'tt1845773',
 'tt0954947',
 'tt1014759',
 'tt3720794',
 'tt0388139',
 'tt1660379',
 'tt0089606',
 'tt0489664',
 'tt0963966',
 'tt0119338',
 'tt1032755',
 'tt1084950',
 'tt1650554',
 'tt0103030',
 'tt0265116',
 'tt0127722',
 'tt0299977',
 'tt2380307',
 'tt4285496',
 'tt0479537',
 'tt1748179',
 'tt2671706',
 'tt0091763',
 'tt0353969',
 'tt2576852',
 'tt1606389',
 'tt3011894',
 'tt1921149',
 'tt0047073',
 'tt5112622',
 'tt2852470',
 'tt0277027',
 'tt0327084',
 'tt1054122',
 'tt0132477',
 'tt0473308',
 'tt1605783',
 'tt0460810',
 'tt0114814',
 'tt1446192',
 'tt0278504',
 'tt1232776',
 'tt0107148',
 'tt0082694',
 'tt0119217',
 'tt0097742',
 'tt0402399',
 'tt1718199',
 'tt0236388',
 'tt0359950',
 'tt4425200',
 'tt4935158',
 'tt0061418',
 'tt0913968',
 'tt1563738',
 'tt0118742',
 'tt0465188',
 'tt0808399',
 'tt1772341',
 'tt0204137',
 'tt1702429',
 'tt0257044',
 'tt0099558',
 'tt0975645',
 'tt2103281',
 'tt0425061',
 'tt0399295',
 'tt4540710',
 'tt0259711',
 'tt0258153',
 'tt1488555',
 'tt1675192',
 'tt0068341',
 'tt2125608',
 'tt0479884',
 'tt0084805',
 'tt0851578',
 'tt0104346',
 'tt0107048',
 'tt0112401',
 'tt0409034',
 'tt4698684',
 'tt1318514',
 'tt0465602',
 'tt2375379',
 'tt0892769',
 'tt0117040',
 'tt3086442',
 'tt4622512',
 'tt2330866',
 'tt0067093',
 'tt0473488',
 'tt0091830',
 'tt0408236',
 'tt0417741',
 'tt0120591',
 'tt2302755',
 'tt0251141',
 'tt0162236',
 'tt4939066',
 'tt0453451',
 'tt0099685',
 'tt3263614',
 'tt0044926',
 'tt1117385',
 'tt1691323',
 'tt2463288',
 'tt1536537',
 'tt0208874',
 'tt6044910',
 'tt1410063',
 'tt2674426',
 'tt0349683',
 'tt0121164',
 'tt0111507',
 'tt1255953',
 'tt0443632',
 'tt0425112',
 'tt1763264',
 'tt2639344',
 'tt1430607',
 'tt1372686',
 'tt1535109',
 'tt0089469',
 'tt1663662',
 'tt0441774',
 'tt0477348',
 'tt2361509',
 'tt4158096',
 'tt0936501',
 'tt1959563',
 'tt2390237',
 'tt5804038',
 'tt1791682',
 'tt1314655',
 'tt0087363',
 'tt0443274',
 'tt0876563',
 'tt0032553',
 'tt0031679',
 'tt0093389',
 'tt0119375',
 'tt0787524',
 'tt0947810',
 'tt0327137',
 'tt1621444',
 'tt0120689',
 'tt0120889',
 'tt2908856',
 'tt1650062',
 'tt0496806',
 'tt1602098',
 'tt0062395',
 'tt0398286',
 'tt0457939',
 'tt3541262',
 'tt0075860',
 'tt0811080',
 'tt2381941',
 'tt1571249',
 'tt0043014',
 'tt0471030',
 'tt1730768',
 'tt0401383',
 'tt0111797',
 'tt0389790',
 'tt3263520',
 'tt1172049',
 'tt0166896',
 'tt1268204',
 'tt0469494',
 'tt1683526',
 'tt2543164',
 'tt0118647',
 'tt0356910',
 'tt0429493',
 'tt1616195',
 'tt0109306',
 'tt0280380',
 'tt1124035',
 'tt2756032',
 'tt0094868',
 'tt1181614',
 'tt1067765',
 'tt0482572',
 'tt2992146',
 'tt0106544',
 'tt3794028',
 'tt0319262',
 'tt0363473',
 'tt1626146',
 'tt0479965',
 'tt0054698',
 'tt1870529',
 'tt5805752',
 'tt0821642',
 'tt0283900',
 'tt1704573',
 'tt1411238',
 'tt3698118',
 'tt1392214',
 'tt0108211',
 'tt3488710',
 'tt0945513',
 'tt0376479',
 'tt1078188',
 'tt0099012',
 'tt1895587',
 'tt4016934',
 'tt0385267',
 'tt1314280',
 'tt0258463',
 'tt0362269',
 'tt0448011',
 'tt3760922',
 'tt0826756',
 'tt0119488',
 'tt0128445',
 'tt1948150',
 'tt2023587',
 'tt1100089',
 'tt2084989',
 'tt2626350',
 'tt0109688',
 'tt0090756',
 'tt0072271',
 'tt2568862',
 'tt0978762',
 'tt5247022',
 'tt0808417',
 'tt0869977',
 'tt0805570',
 'tt4048050',
 'tt1142988',
 'tt1289406',
 'tt0245562',
 'tt0455824',
 'tt1187043',
 'tt0195714',
 'tt0367959',
 'tt2972482',
 'tt0364725',
 'tt1458175',
 'tt1954701',
 'tt0120815',
 'tt1399103',
 'tt0488798',
 'tt0087197',
 'tt2066176',
 'tt0892255',
 'tt0410297',
 'tt5348236',
 'tt0338095',
 'tt0822849',
 'tt1706593',
 'tt3203606',
 'tt2561572',
 'tt0431308',
 'tt3460252',
 'tt1371111',
 'tt2883512',
 'tt1489889',
 'tt2382396',
 'tt2006295',
 'tt2278388',
 'tt0062873',
 'tt0099173',
 'tt0424136',
 'tt1193138',
 'tt3882000',
 'tt2446980',
 'tt2788556',
 'tt0078748',
 'tt0481141',
 'tt2318092',
 'tt0419146',
 'tt0796212',
 'tt2170299',
 'tt1632708',
 'tt0395972',
 'tt0362526',
 'tt0981227',
 'tt0955308',
 'tt4701660',
 'tt0155711',
 'tt0187393',
 'tt3922818',
 'tt0101414',
 'tt0150433',
 'tt0100758',
 'tt4145178',
 'tt0300620',
 'tt1366409',
 'tt0918927',
 'tt3622592',
 'tt0337921',
 'tt0330373',
 'tt3917210',
 'tt3416532',
 'tt0413015',
 'tt0435761',
 'tt0420251',
 'tt1767372',
 'tt0416320',
 'tt2473794',
 'tt0090110',
 'tt0187078',
 'tt0887912',
 'tt1754656',
 'tt0256103',
 'tt4334482',
 'tt2935476',
 'tt0086541',
 'tt2218003',
 'tt2350496',
 'tt1542344',
 'tt0172495',
 'tt0808357',
 'tt0240200',
 'tt0873886',
 'tt0325980',
 'tt0108160',
 'tt0765447',
 'tt0412019',
 'tt1355644',
 'tt1068649',
 'tt0078721',
 'tt0464141',
 'tt0479528',
 'tt0401445',
 'tt0289043',
 'tt0089603',
 'tt4375438',
 'tt0450259',
 'tt0471042',
 'tt0081534',
 'tt1195478',
 'tt0864761',
 'tt0089374',
 'tt4698584',
 'tt3682448',
 'tt0100802',
 'tt0330229',
 'tt0970179',
 'tt0481797',
 'tt0119892',
 'tt0244316',
 'tt0072081',
 'tt0086969',
 'tt0454824',
 'tt2265171',
 'tt0395251',
 'tt0107653',
 'tt0203009',
 'tt0855824',
 'tt5580390',
 'tt4669986',
 'tt4160708',
 'tt1716777',
 'tt1204975',
 ...]

In [66]:
len(id_list)

2626

In [67]:
#movies_filter = df_concat[df_concat["tconst"].apply(lambda x: x in MOVIE_NUMBER)]
#movie_filter[movie_filter['imdbId_tt'].apply(lambda x : x in id_list)]

KeyboardInterrupt:

In [68]:
movie_filter = movie_filter[movie_filter['imdbId_tt'].apply(lambda x : x in id_list)]

In [70]:
movie_filter.shape

(7296203, 8)

In [72]:
import pickle
with open('user_rating','wb') as f:
    pickle.dump(movie_filter,f)